a{
	color:red;
	text-decoration: none;
	font-size: 18px;
	}
h1{
	font-family: helvetica, sans-serif;
}

/* por id. Um por página. */
#terceiro{
	color:blue;
}

/* por classe. Vários por página.*/

/* classe link restringida(regra) para ser usada na tag body->a de nome link*/
body p a.link{
	color:blue;
}

/* classe tag h1 de nome title*/

h1.title{
	color:green;	
}

